In [1]:
import pandas as pd

In [55]:
#Columbia
sch = "columbia"
clbatting = pd.read_csv(r'data' + '\\'+sch+r' - batting.csv').drop(clbatting.columns[clbatting.columns.str.contains('unnamed',case = False)])
clfielding = pd.read_csv(r'data' + '\\'+sch+r' - fielding.csv').drop(clpitching.columns[clpitching.columns.str.contains('unnamed',case = False)])
clpitching = pd.read_csv(r'data' + '\\'+sch+r' - pitching.csv').drop(clfielding.columns[clfielding.columns.str.contains('unnamed',case = False)])
clbatting

,# Player,AVG,GP-GS,AB,R,H,2B,3B,HR,RBI,...,SO,GDP,OB%,SF,SH,SB-ATT,PO,A,E,FLD%
0,"15 Lazits, Anton",0.313,18-18,64,10,20,5,1,1,6,...,15,0,0.366,1,0,2-Feb,15,13,3,0.903
1,"26 Hage, Cole",0.304,17-17,56,12,17,3,0,2,8,...,13,0,0.431,2,0,6-Apr,21,2,1,0.958
2,"22 Schott, Hayden",0.300,19-18,70,11,21,4,0,3,13,...,15,2,0.338,0,0,2-Jan,38,1,0,1.000
3,"23 MacGregor, Tyler",0.274,19-19,73,9,20,4,1,2,12,...,23,1,0.341,1,0,4-Mar,146,18,4,0.976
4,"40 Solomon, Joshua",0.258,18-18,66,10,17,3,0,3,6,...,33,2,0.329,0,0,6-Jun,39,1,1,0.976
5,"38 Eberly, Weston",0.250,16-16,52,13,13,1,3,2,10,...,13,0,0.339,0,1,2-Jan,107,18,4,0.969
6,"42 Blake, Andy",0.214,16-15,56,10,12,2,0,3,13,...,18,0,0.318,1,0,0-0,0,0,0,0.000
7,"17 Palfrey, Griffin",0.205,18-15,44,6,9,2,0,0,6,...,9,1,0.235,4,1,2-Jan,22,32,1,0.982
8,"21 Phelps, Jacob",0.179,19-12,56,7,10,2,0,0,6,...,16,0,0.246,3,1,0-0,20,59,6,0.929
9,"34 Kreutzmann, EJ",0.600,1-Apr,5,3,3,2,0,1,5,...,1,0,0.600,0,0,0-0,1,0,0,1.000
10,"43 Blackwell, Miles",0.429,2-Apr,7,1,3,0,0,0,0,...,2,0,0.429,0,0,0-0,15,1,0,1.000
11,"3 Mowrey, Austin",0.286,5-Oct,21,6,6,0,0,1,4,...,4,0,0.348,0,1,1-Jan,8,20,1,0.966
12,"13 Dardar, Seth",0.214,6-Sep,14,2,3,0,0,0,0,...,3,0,0.267,0,0,1-Jan,0,0,0,0.000
13,"41 Selinsky, Skye",0.185,5-Nov,27,4,5,2,0,2,7,...,5,0,0.214,0,0,1-Jan,15,0,0,1.000
14,"16 Cooper, Jack",0.143,2-Aug,7,2,1,0,0,1,1,...,4,0,0.250,0,0,0-0,2,1,0,1.000
15,"24 Krylov, Alex",0.000,1-Apr,7,0,0,0,0,0,0,...,3,0,0.000,0,0,0-0,5,3,0,1.000
16,"25 Decker, Mike",0.000,1-May,4,0,0,0,0,0,0,...,2,0,0.333,0,0,0-0,2,4,1,0.857
17,"2 San Jule, John",0.000,1-May,2,1,0,0,0,0,0,...,0,0,0.000,0,0,1-Jan,0,0,0,0.000
18,"5 Corso, Kyle",0.000,Jan-00,1,0,0,0,0,0,0,...,1,0,0.000,0,0,0-0,1,0,0,1.000
19,Totals,0.253,19-19,632,107,160,30,5,21,97,...,180,6,0.323,12,4,22-28,474,192,27,0.961
20,Opponents,0.320,19-19,643,128,206,47,3,17,115,...,122,10,0.405,6,11,20-Nov,498,174,17,0.975

In [44]:
#Brown
sch = "brown"
brbatting = pd.read_csv(r'data' + '\\'+sch+r' - batting.csv').drop(clbatting.columns[clbatting.columns.str.contains('unnamed',case = False)])
brfielding = pd.read_csv(r'data' + '\\'+sch+r' - fielding.csv').drop(clpitching.columns[clpitching.columns.str.contains('unnamed',case = False)])
brpitching = pd.read_csv(r'data' + '\\'+sch+r' - pitching.csv').drop(clfielding.columns[clfielding.columns.str.contains('unnamed',case = False)])

In [15]:
#Harvard
sch = "harvard"
harbatting = pd.read_csv(r'data' + '\\'+sch+r' - batting.csv')
harfielding = pd.read_csv(r'data' + '\\'+sch+r' - fielding.csv')
harpitching = pd.read_csv(r'data' + '\\'+sch+r' - pitching.csv')

In [45]:
#Yale
sch = "yale"
ybatting = pd.read_csv(r'data' + '\\'+sch+r' - batting.csv')
yfielding = pd.read_csv(r'data' + '\\'+sch+r' - fielding.csv')
ypitching = pd.read_csv(r'data' + '\\'+sch+r' - pitching.csv')

In [46]:
#Cornell
sch = "cornell"
cobatting = pd.read_csv(r'data' + '\\'+sch+r' - batting.csv')
cofielding = pd.read_csv(r'data' + '\\'+sch+r' - fielding.csv')
copitching = pd.read_csv(r'data' + '\\'+sch+r' - pitching.csv')

In [47]:
#Princeton
sch = "princeton"
prbatting = pd.read_csv(r'data' + '\\'+sch+r' - batting.csv')
prfielding = pd.read_csv(r'data' + '\\'+sch+r' - fielding.csv')
prpitching = pd.read_csv(r'data' + '\\'+sch+r' - pitching.csv')

In [48]:
#Dartmouth
sch = "dartmouth"
dmbatting = pd.read_csv(r'data' + '\\'+sch+r' - batting.csv')
dmfielding = pd.read_csv(r'data' + '\\'+sch+r' - fielding.csv')
dmpitching = pd.read_csv(r'data' + '\\'+sch+r' - pitching.csv')

In [49]:
#Penn
sch = "penn"
pnbatting = pd.read_csv(r'data' + '\\'+sch+r' - batting.csv')
pnfielding = pd.read_csv(r'data' + '\\'+sch+r' - fielding.csv')
pnpitching = pd.read_csv(r'data' + '\\'+sch+r' - pitching.csv')